* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: #d91e68;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.details-img {
  box-shadow: -6px -7px 26px 1px #d91e68;
  -webkit-box-shadow: -6px -7px 26px 1px #d91e68;
  -moz-box-shadow: -6px -7px 26px 1px #d91e68;
}
