* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: #d91e68;
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card h1 {
  font-size: 2rem;
  -webkit-text-stroke: 1px #d91e68;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.details-img {
  box-shadow: -6px -7px 26px 1px #d91e68;
  -webkit-box-shadow: -6px -7px 26px 1px #d91e68;
  -moz-box-shadow: -6px -7px 26px 1px #d91e68;
}
